@import url("https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@1,100&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto+Condensed:ital@1&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 7fr 1fr;
  grid-template-areas: "header header" "main main" "footer footer";
}

header {
  background-color: black;
  grid-area: header;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
header #logo {
  flex-basis: 50%;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
header #logo h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
header #contador {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  z-index: 1;
}
header #divcarrito {
  text-align: center;
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
header #divcarrito #btncomprar {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  background-color: blue;
  border-radius: 10px;
  border: solid black 3px;
  width: 30%;
  margin-left: 36%;
  margin-bottom: 10px;
}
header #divcarrito #btncomprar:hover {
  background-color: rgb(79, 79, 151);
}
header #divcarrito img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  position: relative;
}
header #divcarrito .divcarrito2 {
  background-color: beige;
  font-family: "Roboto Condensed", sans-serif;
}
header #divcarrito .productoCarrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header #divcarrito .offcanvas-header {
  background-color: beige;
  font-family: "Josefin Sans", sans-serif;
}
header #divcarrito #carrito {
  background-color: beige;
}
header #divcarrito .productoCarrito {
  background-color: white;
  border-radius: 10px;
  border: solid black 4px;
  margin: 10px;
  padding: 10px;
  width: 70%;
  margin-left: 65px;
}
header #divcarrito .productoCarrito img {
  margin: 10px;
  border: solid black 4px;
  border-radius: 10px;
}
header #divcarrito .productoCarrito h2 {
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  font-family: "Josefin Sans", sans-serif;
  padding: 5px;
  font-weight: 400;
  background-color: blue;
  color: white;
  border-radius: 10px;
  border: solid black 3px;
}
header #divcarrito .btnquitar {
  text-decoration: none;
  background-color: blue;
  padding: 4px;
  border-radius: 10px;
  font-family: "Roboto Condensed", sans-serif;
  border: solid 2px black;
  color: azure;
}
header #divcarrito .btnquitar:hover {
  background-color: rgb(79, 79, 151);
}

main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  background-image: url("../assets/img/fondo/mate.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main #categorias {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
main #categorias #listacategoria {
  flex-grow: 1;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #categorias #listacategoria .boton.seleccionado {
  border: 4px solid white;
  background-color: #d15280;
}
main #categorias #listacategoria .boton {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 243);
  border-radius: 10px;
  border: solid 3px black;
  color: azure;
}
main #categorias #listacategoria .boton a {
  text-decoration: none;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}
main #buscador {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
}
main #inputbuscar {
  text-align: center;
  width: 500px;
  border: solid 3px black;
  border-radius: 10px;
  padding: 10px;
}
main #section1 {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}
main #section1 h3 {
  background-color: blue;
  border: solid black 3px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  color: white;
  font-size: 2rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 800;
}
main #section1 .btnAgregar {
  background-color: rgb(0, 0, 243);
  padding: 7px;
  border-radius: 10px;
  border: solid 3px black;
  color: azure;
}
main #section1 .btnAgregar:hover {
  background-color: rgb(79, 79, 151);
}
main #section1 .precio {
  font-weight: 700;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(0, 0, 0);
}
main #section1 .producto {
  text-align: center;
  width: 250px;
  height: 52vh;
  margin-top: 10px;
  background-color: white;
  border-radius: 20px;
  border: solid black 4px;
}
main #section1 img {
  width: 150px;
  height: 150px;
  margin: 10px;
}
main #section1 div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main #section1 a {
  margin-top: 10px;
  text-decoration: none;
  margin: 10px;
  font-family: "Roboto Condensed", sans-serif;
}
main #section2 {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}
main #section2 h3 {
  background-color: blue;
  border: solid black 3px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  color: white;
  font-size: 2rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 800;
}
main #section2 .btnAgregar2 {
  background-color: blue;
  padding: 7px;
  border-radius: 10px;
  border: solid 3px black;
  color: azure;
}
main #section2 .btnAgregar2:hover {
  background-color: rgb(79, 79, 151);
}
main #section2 .precio {
  font-weight: 700;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(0, 0, 0);
}
main #section2 .producto {
  width: 250px;
  height: 52vh;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  border: solid black 4px;
}
main #section2 img {
  width: 150px;
  height: 150px;
}
main #section2 div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main #section2 a {
  margin-top: 10px;
  text-decoration: none;
  margin: 10px;
  font-family: "Roboto Condensed", sans-serif;
}

footer {
  grid-area: footer;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
footer #redessociales img {
  background-color: brown;
  border: solid white 4px;
  border-radius: 10px;
  padding: 5px;
  flex-basis: 90%;
  height: 70px;
  width: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
}
footer #redessociales {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer #redessociales #afooter1 {
  margin-right: 40px;
}
footer #aside {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}
footer #aside img {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 70px;
  height: 70px;
  background-color: brown;
  border: solid rgb(0, 0, 0) 4px;
  border-radius: 10px;
  padding: 5px;
}

/*# sourceMappingURL=estilos.css.map */
