body {
  height: 100vh;
  background-color: black;
}
main {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#boton {
  color: rgb(0, 0, 0);
  background-color: brown;
  border: solid 4px white;
  padding: 30px;
  font-size: 2rem;
  border-radius: 10px;
}
#boton:hover {
  background-color: aqua;
  color: black;
  border: solid 4px brown;
  border-radius: 10px;
}
