header {
  background-color: black;
  grid-area: header;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  #logo {
    flex-basis: 50%;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  #logo h1 {
    font-family: $josefin;
    font-size: 3rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  #contador {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    z-index: 1;
  }

  #divcarrito {
    text-align: center;
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    #btncomprar{
      font-size: 1.5rem;
      text-decoration: none;
      color: white;
      background-color: blue;
      border-radius: 10px;
      border: solid black 3px;
      width: 30%;
      margin-left: 36%;
      margin-bottom: 10px;
    }

    #btncomprar:hover{
      background-color: rgb(79, 79, 151);
    }

    img {
      width: 80px;
      height: 80px;
      border-radius: 10px;
      position: relative;
    }

    .divcarrito2 {
      background-color: beige;
      font-family: $robot;
    }

    .productoCarrito {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .offcanvas-header {
      background-color: beige;
      font-family: $josefin;
    }

    #carrito {
      background-color: beige;
    }

    .productoCarrito {
      background-color: white;
      border-radius: 10px;
      border: solid black 4px;
      margin: 10px;
      padding: 10px;
      width: 70%;
      margin-left: 65px;
    }

    .productoCarrito img {
      margin: 10px;
      border: solid black 4px;
      border-radius: 10px;
    }

    .productoCarrito h2 {
      display: flex;
      font-size: 2rem;
      justify-content: center;
      align-items: center;
      margin-top: 5px;
      font-family: $josefin;
      padding: 5px;
      font-weight: 400;
      background-color: blue;
      color: white;
      border-radius: 10px;
      border: solid black 3px;
    }

    .btnquitar {
      text-decoration: none;
      background-color: blue;
      padding: 4px;
      border-radius: 10px;
      font-family: $robot;
      border: solid 2px black;
      color: azure;
    }

    .btnquitar:hover {
      background-color: rgb(79, 79, 151);
    }
  }
}
